.preview {
    padding: 15px 0;
    position: relative;
    height: 100px;
}

.icons {
    font-size: 18px;
    padding-right: 7px;
}

.code-preview {
    display: none;
}

.name {
    font-size: 18px;
}

.show-code {
    color: #101010;
}
.mt {
    padding-top: 50px;
}

.show-code:hover, .show-code:active, .show-code:focus {
    color: #252525;
    text-decoration: none;
}
.footer {
    background: #efefef;
    min-height: 60px;
    padding: 20px;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-nav > li > iframe {
    margin-top: 13px;
}
body {
    font-family: "Helvetica Neue", "Roboto", sans-serif;
}
.quick-search {
    width: 200px;
    margin: 25px auto;
    position: relative;
}
.quick-search i {
    position: absolute;
    left: 7px;
    top: 7px;
    color: #ccc;
}
.quick-search input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
    text-indent: 22px;
    width: 100%;
}
.quick-search input:focus {
    border-color: #999;
}
.quick-search input:focus + i {
    color: #999;
}